[Unit]
Description=Twitch Chatbot
After=network-online.target

[Service]
User=bot
WorkingDirectory=/home/bot/git/twitch-chatbot
# absolute path
ExecStart=bash /home/bot/git/twitch-chatbot/run.sh
Restart=always
RestartSec=3
StandardOutput=file:/var/log/twitch-chatbot.out
StandardError=file:/var/log/twitch-chatbot.err

[Install]
WantedBy=multi-user.target
